<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Chat</title>
</head>
<body>
    <h2>Add new Chat:</h2>
    <form action="/chats" method="post">
        <div class="newChat">
            <p>TO: <input type="text" name="to"></p>
            <P>MASSAGE: <textarea name="msg" id="msg"></textarea></P>
            <p>FROM: <input type="text" name="from"></p>
            <button>ADD</button>
        </div>
        
    </form>
</body>
</html>